* {
    box-sizing: border-box;
  }
  
 h1 {
  color: blue;
  font-size: x-large;
  text-align: center;
  text-decoration: underline;
  background-color: red;
 }
 .container {
  
  justify-content: center;
 }
 .btn {
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 158, 228);
  font-size: xx-large;
  padding: 20px;
 }
 .reset-btn {
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 158, 228);
  font-size: xx-large;
  padding: 20px;
  align-items: end;
 }
 .card {
  border-radius: 5%;
  background-color: black;
 
 }